.container {
  min-height: 100vh;
  height: 100vh;
  background-color: #393c49;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  height: 100%;
  width: 10rem;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
